:root {
  --md-primary-fg-color: hsl(220, 74%, 33%);
  --md-primary-fg-color--light: hsl(220, 74%, 45%);
  --md-primary-fg-color--dark: hsl(220, 74%, 22%);
  --md-accent-fg-color: hsl(212, 100%, 45%);
}
.md-header { background: hsl(220, 74%, 33%); }
